body{
    background-image:url("../124/32.jpg");
}
h1{
    color:red
}
h2{
    color:brown
}
li{
    color: red;
}
.photo1 {
    width: 750px;
    height: 500px;
    border-color: rgb(197, 66, 66);
   
  }
  .photo2{
    width: 650px;
    height: 500px;
    border-color: rgb(211, 63, 63);
  }